<mat-toolbar *ngIf="project" class="actionsBar">
  <button mat-icon-button class="back" color="primary" [routerLink]="['/projects']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span fxHide.lt-md style="color:#ccc;">{{project.date | date:'dd/MM/yyyy'}} - {{project.title}} </span>
  <span style="flex: 1 1 auto"></span>
  <ng-template [ngIf]="!selectedItems" [ngIfElse]="counters">
    <span> Ningún item seleccionado. </span>
  </ng-template>
  <ng-template #counters>
    <div style="display:inline-block; top:15px; padding:0 3px 0 3px;">
      <mat-progress-spinner color="primary" diameter="32" mode="determinate" [value]="completedSelection">
      </mat-progress-spinner>
      <div style="position:relative; bottom: 16px; font-size:8px; text-align:center; color:#1da57a;">
        {{completedSelection}}%
      </div>
    </div>
    <span>
      <mat-chip-list style="display: inline; flex-wrap:nowrap; margin:0;">
        <mat-chip color="primary" selected matTooltip="Fotos incluídas">{{completedQuantity}}
          <span fxHide.lt-md>&nbsp;Incluída{{completedQuantity>1?'s':''}}</span>
        </mat-chip>
        <mat-chip *ngIf="aditionalQuantity" color="#c2388" selected matTooltip="Fotos adicionales">{{aditionalQuantity}}
          <span fxHide.lt-md>&nbsp;Adicional{{aditionalQuantity>1?'es':''}}</span>
          <span>&nbsp;(${{aditionalPrice}})</span>
        </mat-chip>
      </mat-chip-list>
    </span>
  </ng-template>
  <ng-template [ngIf]="pending" #actions>
    <button fxHide.xs mat-raised-button [disabled]="selectedItems==0 || confirmed" (click)="saveOrder()">
      <span>Guardar</span>
    </button>
    <button fxHide.xs mat-raised-button color="primary"
      [disabled]="selectedItems==0 || completedSelection<100 || confirmed" (click)="confirmOrder()">
      <span>Confirmar</span><span fxHide.lt-md> Pedido</span>
    </button>
    <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="vertMenu" color="primary" aria-label="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #vertMenu="matMenu">
      <button mat-menu-item [disabled]="selectedItems==0 || confirmed" (click)="saveOrder()">
        <span>Guardar</span>
      </button>
      <button mat-menu-item [disabled]="selectedItems==0 || completedSelection<100 || confirmed"
        (click)="confirmOrder()">
        <span>Confirmar pedido</span>
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
<div *ngIf="project" class="msg-container">
  <h5 *ngIf="confirmed" style="text-align: center;">Su pedido de Edición/Impresión se encuentra confirmado.
    Le informaremos cuando el fotógrafo haya finalizado el trabajo.</h5>
  <h5 *ngIf="completed" style="text-align: center;">Su pedido de Edición/Impresión se encuentra listo para retirar.
    Ya puede coordinar la entrega del mismo con su fotografo.</h5>
  <h5 *ngIf="delivered" style="text-align: center;">El pedido ya fue entregado.</h5>
</div>
<div *ngIf="project" class="scrollable-view" [ngClass]="{'under-message':hasMessage}">
  <mat-grid-list *ngIf="loaded" [appResponsiveCols]="{ xs: 1, sm: 2, md: 3, lg: 4, xl: 4 }" gutterSize="10px">
    <mat-grid-tile *ngFor="let itm of project.previewItems">
      <app-preview-grid-item remove-host [editable]="pending" class="grid-item" [item]="itm"
        [selected]="selected(itm.id)" (change)=onSelectionChange(itm.id,$event)>
      </app-preview-grid-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>