<ng-container *ngIf="project" [ngSwitch]="userRole">
  <app-preview-grid *ngSwitchCase="UserRole.CLIENT"></app-preview-grid>
  <ng-container *ngSwitchCase="UserRole.STUDIO">
    <ng-container [ngSwitch]="projectSection">
      <ng-container *ngSwitchCase="'upload'">
        <app-actions-toolbar [title]="title" [shortTitle]="project.title">
          <span>
            <button mat-raised-button color="primary" (click)="confirmPreview()">Confirmar <span
                fxHide.lt-sm>Muestra</span></button></span>
        </app-actions-toolbar>
        <app-project-preview-loader [project]="project">
        </app-project-preview-loader>
      </ng-container>
      <ng-container *ngSwitchCase="'orders'">
        <app-actions-toolbar [title]="title" [shortTitle]="project.title">
          <span><button mat-raised-button color="primary" (click)="completeOrder()">Finalizar <span
                fxHide.lt-sm>Pedido</span></button></span>
        </app-actions-toolbar>
        <app-project-orders [project]="project">
        </app-project-orders>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>