<div class="scrollable-view">
  <div style="text-align: center">
    <h4>Nuevo proyecto</h4>
  </div>

  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="clientForm" [editable]="false">
      <ng-template matStepLabel>Cliente</ng-template>
      <form autocomplete="off" novalidate [formGroup]="clientForm" [style.fontSize.px]="14" fxLayout="column">
        <fieldset>
          <legend>Busque un cliente existente: </legend>
          <mat-form-field appearance="fill">
            <input formControlName="client" type="text" maxlength="200"
              placeholder="ingrese un nombre, apellido o email.." matInput [matAutocomplete]="auto">
            <mat-icon matPrefix>search</mat-icon>
            <span matSuffix class="input-suffix">
              <mat-spinner *ngIf="loading" diameter="17"></mat-spinner>
              <button *ngIf="clientForm.value.client" mat-icon-button (click)="clearClientSearch($event)">
                <mat-icon aria-label="borrar">close</mat-icon>
              </button>

            </span>

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="printUser"
              (optionSelected)="onClientSelected($event.option.value)">
              <mat-option *ngFor="let item of clientsearch$ | async; let index=index" [value]="item">
                {{printUser(item)}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="clientSelected">
          <legend>O bien, registre uno nuevo:</legend>
          <mat-form-field>
            <input type="text" minlength="3" maxlength="150" matInput placeholder="Apellido" formControlName="lastName"
              required />
            <mat-error *ngIf="!clientForm.pristine">{{getErrorMessage(clientForm,'lastName')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" minlength="2" maxlength="150" matInput placeholder="Nombre" formControlName="name"
              required />
            <mat-error>{{getErrorMessage(clientForm,'name')}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email" required width="100%" />
            <mat-error>{{getErrorMessage(clientForm,'email')}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Dirección" formControlName="location" required />
            <mat-error>{{getErrorMessage(clientForm,'location')}}</mat-error>
          </mat-form-field>
        </fieldset>
        <div style="margin-top:20px;">
          <button [disabled]="clientForm.pristine || clientForm.invalid" type="button" mat-stroked-button
            (click)="next(stepper)" align="end">Siguiente {{ clientSelected ? '':'(registrar usuario)'}}</button>
        </div>
      </form>

    </mat-step>
    <mat-step [stepControl]="eventForm" [editable]="false">
      <form autocomplete="off" novalidate [formGroup]="eventForm" (ngSubmit)="onProjectSubmit()"
        [style.fontSize.px]="14">
        <ng-template matStepLabel>Evento</ng-template>
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Título del evento" formControlName="title" required />
            <mat-error>{{getErrorMessage(eventForm,'title')}}</mat-error>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input style="font-size:12px" required matInput [matDatepicker]="picker" readonly (click)="picker.open()"
              placeholder="Fecha de realización" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{getErrorMessage(eventForm,'date')}}</mat-error>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input required matInput type="text" placeholder="Dirección" formControlName="location" />
            <mat-error>{{getErrorMessage(eventForm,'location')}}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <button type="button" mat-stroked-button (click)="next(stepper)">Siguiente</button>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="quotationForm" [editable]="false">
      <form autocomplete="off" novalidate [formGroup]="quotationForm" [style.fontSize.px]="14">
        <ng-template matStepLabel>Presupuesto</ng-template>
        <div>
          <mat-form-field>
            <input required matInput type="number" placeholder="Cant. Fotos Incluídas" formControlName="quantity" />
            <mat-error>{{getErrorMessage(quotationForm,'quotation')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input required matInput type="number" placeholder="Presupuesto" formControlName="quotation" />
            <span matPrefix>$&nbsp;</span>
            <mat-error>{{getErrorMessage(quotationForm,'quotation')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input required matInput type="number" placeholder="Foto Adicional" formControlName="aditionalItemPrice" />
            <span matPrefix>$&nbsp;</span>
            <mat-error>{{getErrorMessage(quotationForm,'aditionalItemPrice')}}</mat-error>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:100% !important">
            <textarea rows="3" matInput type="text" placeholder="Observaciones" formControlName="notes"></textarea>
            <mat-error>{{getErrorMessage(quotationForm,'notes')}}</mat-error>

          </mat-form-field>
        </div>

        <div>
          <button [disabled]="quotationForm.pristine || quotationForm.invalid" type="button" mat-stroked-button
            color="primary" (click)="guardar()">Finalizar (guardar proyecto)</button>
        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>