<div class="sl-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card">
    <div style="text-align: center">
      <h4>Acceso a la aplicación</h4>
    </div>
    <form autocomplete="off" novalidate [formGroup]="loginForm" [style.fontSize.px]="14" fxLayout="column"
      (keypress)="handleEnter($event)">
      <mat-form-field>
        <input formControlName="email" type="text" maxlength="200" placeholder="email" matInput>
        <mat-error>{{getErrorMessage(loginForm,'email')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" type="password" maxlength="200" placeholder="contraseña" matInput>
        <mat-error>{{getErrorMessage(loginForm,'password')}}</mat-error>

      </mat-form-field>
    </form>
    <mat-card-actions align="center">
      <button #btnAcceder mat-raised-button color="primary" (click)="login()">Acceder</button>
    </mat-card-actions>
  </mat-card>
</div>