@import "../project-grid.component.scss";

.tag {
  border-radius: 5px;
  padding: 6px;
}

.tag._01_created {
  background-color: #f0c652;
}
.tag._02_preview_loaded {
  background-color: #a3efe8;
}
.tag._03_order_loaded {
  background-color: #81c9eb;
}
.tag._04_completed {
  background-color: #d48c8c;
}
.tag._05_delivered {
  background-color: #a3baef;
}
