@import "../project-grid.component.scss";

.tag {
  border-radius: 5px;
  padding: 6px;
}

span.tag-1 {
  background-color: #f0c652;
}
span.tag-2 {
  background-color: #a3efe8;
}
span.tag-3 {
  background-color: #81c9eb;
}
span.tag-4 {
  background-color: #d48c8c;
}
span.tag-5 {
  background-color: #a3baef;
}
