<div>
  <mat-card mat-ripple (click)="gotoProject()">
    <div class="project-link">
      <p class="title" style="margin-top:0">{{project.title}}</p>
      <p>{{project.date | date: 'dd/MM/yyyy'}}</p>
      <p [style.visibility]="isClient?'hidden':'visible'">{{project.client.lastName}}, {{project.client.name}}</p>
      <ng-template [ngIf]="isClient" [ngIfElse]="studioMessages">
        <p>
          <ng-container [ngSwitch]="project.state">
            <span class="tag yellow" *ngSwitchCase="ProjectState.CREATED">Estamos preparando la muestra</span>
            <span class="tag violet" *ngSwitchCase="ProjectState.PREVIEW_LOADED">Ya puede cargar su pedido</span>
            <span class="tag lightblue" *ngSwitchCase="ProjectState.ORDER_LOADED">Estamos preparando su pedido</span>
            <span class="tag green" *ngSwitchCase="ProjectState.COMPLETED">Su pedido está listo para retirar</span>
          </ng-container>
        </p>
      </ng-template>
      <ng-template #studioMessages>
        <p>
          <ng-container [ngSwitch]="project.state">
            <span class="tag lightblue" *ngSwitchCase="ProjectState.CREATED">{{project.state | ProjectState}}</span>
            <span class="tag green" *ngSwitchCase="ProjectState.PREVIEW_LOADED">{{project.state | ProjectState}}</span>
            <span class="tag yellow" *ngSwitchCase="ProjectState.ORDER_LOADED">{{project.state | ProjectState}}</span>
            <span class="tag gray" *ngSwitchCase="ProjectState.COMPLETED">{{project.state | ProjectState}}</span>
          </ng-container>
        </p>

      </ng-template>
    </div>
  </mat-card>
</div>