<div *ngIf="project" style="height:90px;">
  <div class="drop-zone-wrapper">
    <app-drop-zone *ngIf="editable" drop-msg="prueba" [url]="uploadUrl" [data]="{projectId:projectId}"
      (fileUploaded)="onFileUploaded($event)">
    </app-drop-zone>
  </div>
  <div [ngClass]="{'editable':editable, 'preview-container scrollable-view':true}">
    <mat-grid-list [appResponsiveCols]="{ xs: 1, sm: 2, md: 3, lg: 4, xl: 4 }" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of (previewItems || []).slice().reverse()">
        <app-loader-preview-item class="grid-item" [item]="item" [editable]="editable"
          (deleted)="onItemDeleted($event)">
        </app-loader-preview-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>