<div *ngIf="project" style="height:90px;">
  <fieldset *ngIf="!previewLoaded" style="border:none;" [disabled]="files.length && !allDone()">
    <div class="drop-zone-container">
      <div class="upload-list" *ngIf="files.length">
        <ul style=" overflow: auto;">
          <li *ngFor="let item of files; let i=index" [matTooltip]="getFileError(item)">
            <span>{{ item.name | lowercase }}</span>
            <mat-progress-bar mode="determinate" [value]="item.progress.data.percentage"
              [color]="(item.progress.status==2 && item.responseStatus!=200)?'warn':'primary'"></mat-progress-bar>
          </li>
        </ul>

        <button *ngIf="allDone()" mat-button color="primary" (click)=" limpiarListado()">limpiar listado</button>
      </div>
      <div class="drop-zone" [ngClass]="{'block-mouse':files.length && !allDone()}" ngFileDrop [options]="options"
        (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
        <h4>Arrastre las imagenes de muestra aquí</h4>
        <div style="min-width:200px" fxLayout="row" fxLayoutAlign="end end">
          <label class="upload-button">
            <button mat-raised-button color="primary" (click)="folderInput.click()">Subir Carpeta</button>
            <input #folderInput style="display:none" className="upload-input" ngFileSelect [options]="options"
              (uploadOutput)="onUploadOutput($event)" type="file" required webkitdirectory="true" mozdirectory="true"
              msdirectory="true" odirectory="true" directory="true" allowdirs="true" [uploadInput]="uploadInput" />
          </label>
          <label class="upload-button">
            <button mat-raised-button color="primary" (click)="fileInput.click()">Subir Archivo</button>
            <input #fileInput style="display:none" type="file" ngFileSelect [options]="options"
              (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"></label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="scrollable-view" style="height: calc( 100vh - 250px )">
    <mat-grid-list [appResponsiveCols]="{ xs: 1, sm: 2, md: 3, lg: 4, xl: 4 }" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of (previewItems || []).slice().reverse()">
        <app-loader-preview-item class="grid-item" [item]="item">
        </app-loader-preview-item>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>