@import "mixins";

.scrollable-view {
  overflow: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.drop-zone-wrapper {
  margin: 5px 5px;
}

div.preview-container.editable {
  height: calc(100vh - 259px);
}
div.preview-container {
  height: calc(100vh - 120px);
}
