<div *ngIf="project" class="padd">
  <p *ngIf="project.created" style="text-align:center">Debe cargar la muestra para que el cliente cargue el pedido.</p>
  <p *ngIf="project.previewLoaded" style="text-align:center">El cliente aún no ha cargado el pedido.</p>
  <ng-container *ngIf="project.orderLoaded || project.completed || project.delivered">
    <div class="header">
      <h3>Resumen</h3>
    </div>
    <div class="summary-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="summary-table">
        <table>
          <tr>
            <td>{{project.quantity}} fotos incluídas:</td>
            <td>{{project.quotation | currency}}</td>
          </tr>
          <tr>
            <td>{{project.aditionalQuantity}} fotos adicionales: </td>
            <td>{{aditionalCost | currency}}</td>
          </tr>
          <tr>
            <td>Total:</td>
            <td>{{totalCost | currency}}</td>
          </tr>
        </table>
      </div>
      <app-drop-zone [disabled]="!editable" class="uploader" [disableUpload]="true" [disableList]="true"
        (fileAdded)="markItemAsDone($event)">
      </app-drop-zone>
    </div>
    <div class="header" fxLayout="row">
      <h3 fxFlex="1 1 100%">
        <span fxLayout="row" fxLayoutAlign="space-between">
          <span fxFlex>Archivos</span>
          <span fxFlex class="lbl-progress">{{doneItems}} de {{previewItems.length}} ({{progress}}%)</span>
        </span>
        <div style="padding-right:10px;">
          <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
      </h3>
    </div>
    <div [ngClass]="{'editable':!editable, 'grid-container':true}">
      <mat-grid-list [appResponsiveCols]="{ xs: 1, sm: 2, md: 3, lg: 4, xl: 4 }" gutterSize="10px">
        <mat-grid-tile *ngFor="let item of previewItems">
          <app-preview-item remove-host [item]="item">
            <div fxFlex="1 1 90%" style="font-size: 12px">{{item.fileName}}</div>
            <button [disabled]="!editable" mat-icon-button color="primary" (click)="toggleItem(item)">
              <mat-icon>{{item.done? 'check': 'check_box_outline_blank'}}</mat-icon>
            </button>
          </app-preview-item>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </ng-container>
</div>