<mat-toolbar color="primary">
  <img [routerLink]="['/']" class="logo" src="./assets/icons/icon-72x72.png" />
  <span [routerLink]="['/']" class="title" style="text-shadow: 1px 1px #333;">{{title}}</span>
  <span class="spacer">
    {{sectionTitle}}
  </span>

  <button *ngIf="logged" mat-icon-button color="account_circle" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>directions_run</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div [ngClass]="{'view-container': !isLoginPage}" style="height:90vh; overflow: hidden;">

  <router-outlet></router-outlet>
</div>
<app-loading></app-loading>