.mat-toolbar {
  height: 50px;
  background-color: rgb(31, 31, 31);
}
.scrollable-view {
  overflow: auto;
  height: calc(90vh - 20px);
}
.counter {
  font-size: 14px !important;
  color: #1da57a;
  margin-right: 20px;
}
