<mat-toolbar *ngIf="project" class="actionsBar">
  <span><small>{{project.title}}</small></span>

  <span style="flex: 1 1 auto"></span>

  <button mat-raised-button (click)="saveOrder()">Cargar Pedido</button>
</mat-toolbar>
<div class="scrollable-view">
  <mat-grid-list [cols]="cols" gutterSize="10px">
    <mat-grid-tile *ngFor="let itm of previewItems()">
      <app-preview-grid-item [item]="itm" (change)=onSelectionChange(itm,$event)></app-preview-grid-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>