<div class="scrollable-view" style="height:calc(100vh - 65px);">
  <mat-grid-list [appResponsiveCols]="{ xs: 1, sm: 2, md: 3, lg: 4, xl: 5 }" gutterSize="10px" rowHeight="150px">
    <mat-grid-tile *ngIf="!isClient" style="height:150px;">
      <app-new-project-grid-item class="project-card"></app-new-project-grid-item>
    </mat-grid-tile>
    <mat-grid-tile style="height: 150px; " *ngFor="let project of projects">
      <app-project-grid-item class="project-card" [project]="project">
      </app-project-grid-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>